/* =================================
  Flexbox
==================================== */
.container {
  display: inline-flex;
  display: flex;
  flex-direction: column-reverse;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  /*height: 280px;*/
  /*justify-content: flex-end;*/
  /*justify-content: center;*/
  /*justify-content: space-around;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
}

.item {
  flex-grow: 1;
}
.item-1 {
  /*margin-right: auto;*/
  /*order: 1*/
  flex-grow: 4;
}
.item-2 {
  /*margin-right: auto;*/
}
.item-3 {
  flex-grow: 3;
}
.item-6 {
  /*order: -1;*/
}
