/* =================================
  Flexbox
==================================== */
.container {
  display: inline-flex;
  display: flex;
  flex-direction: column-reverse;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  height: 280px;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
}

/*.item-1 {
  margin-right: auto;
}*/
.item-2 {
  margin-right: auto;
}
