/* =================================
  Flexbox
==================================== */
.container {
  height: 300px;
  display: flex;
  display: inline-flex;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;
}
